Data Structures

In [ ]:
"""
List       Ordered    changeable           duplicates
Tuple      Ordered    unchangeable         duplicates
Set        Unordered  addable/removable    no duplicates
Dictionary Unordered  changeable           no duplicate
"""

'\nList       Ordered    changeable           duplicates\nTuple      Ordered    unchangeable         duplicates\nSet        Unordered  addable/removable    no duplicates\nDictionary Unordered  changeabke           no duplicate\n'

In [8]:
List1 = [1,3,4,9,"name"]
Tuple1 = (1,3,4,9,"name",3)
Set1 = {1,3,4,9,"name",3}
Dictionary1 = {23:"twothree", 'B' : 43, 'C': 'ccd'}

In [9]:
print("The type of List1 is", type(List1))
print("The type of Tuple1 is", type(Tuple1))
print("The type of Set is", type(Set1))
print("The type of Dictionary1 is", type(Dictionary1))

The type of List1 is <class 'list'>
The type of Tuple1 is <class 'tuple'>
The type of Set is <class 'set'>
The type of Dictionary1 is <class 'dict'>

In [10]:
print(List1[1])
print(Tuple1[1])
print(3 in Set1)
print(Dictionary1[23])

3
3
True
twothree

In [11]:
List1

[1, 3, 4, 9, 'name']

In [12]:
List1[1:3]

[3, 4]

In [13]:
List1[::-1]

['name', 9, 4, 3, 1]

In [14]:
Tuple1[:3]

(1, 3, 4)

In [15]:
#adding elements in the list
List1 = List1 + ["how", "are", 6]

In [16]:
List1.append(6.8)

In [17]:
List1

[1, 3, 4, 9, 'name', 'how', 'are', 6, 6.8]

In [18]:
Tuple2 = ("a", "b", 45)
Tuple3 = Tuple1 + Tuple2
Tuple3

(1, 3, 4, 9, 'name', 3, 'a', 'b', 45)

In [19]:
Set1.update({23,"game",1})

In [20]:
Set1

{1, 23, 3, 4, 9, 'game', 'name'}

In [21]:
#adding key-value pair to a dictionary
Dictionary1["newkey"] = "newValue"

In [22]:
Dictionary1

{23: 'twothree', 'B': 43, 'C': 'ccd', 'newkey': 'newValue'}

In [23]:
Dictionary2 = {"fruits":"apple", "vegetables":"onions"}

In [24]:
Set1.remove("game")
Set1

{1, 23, 3, 4, 9, 'name'}

In [25]:
del Dictionary1["C"]

In [26]:
Dictionary1

{23: 'twothree', 'B': 43, 'newkey': 'newValue'}

NOTE: Two dictionaries cannot be concatenated using plus operator.
Rather can be updated using
Dictionary1["newkey"] = "newValue"

In [27]:
List2 = List1
List2

[1, 3, 4, 9, 'name', 'how', 'are', 6, 6.8]

In [28]:
List2[2] = "four point three"
List2

[1, 3, 'four point three', 9, 'name', 'how', 'are', 6, 6.8]

In [29]:
List1 #List1 has also changed

[1, 3, 'four point three', 9, 'name', 'how', 'are', 6, 6.8]

In [30]:
List2 = List1.copy() #this function helps in creating a copy
List2[2] = 4.9 #now only List2 will change without affecting List1

In [31]:
List2

[1, 3, 4.9, 9, 'name', 'how', 'are', 6, 6.8]

In [32]:
List1

[1, 3, 'four point three', 9, 'name', 'how', 'are', 6, 6.8]

In [33]:
#Slicing
List3 = List1[1:5] #List3 will be a complete new list
List3[0]= "three" #won't affect List1
List3

['three', 'four point three', 9, 'name']

In [34]:
List1

[1, 3, 'four point three', 9, 'name', 'how', 'are', 6, 6.8]

In [35]:
help(List1.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [36]:
List1.reverse()
List1

[6.8, 6, 'are', 'how', 'name', 9, 'four point three', 3, 1]

In [37]:
Dictionary1.items()

dict_items([(23, 'twothree'), ('B', 43), ('newkey', 'newValue')])

In [38]:
#Incorporating Lists, Tuples Sets and dictionary in a dicitonary
Dictionary3 = {"A":List1, "B": Tuple1, "C": Set1, "D": Dictionary1}

In [39]:
Dictionary3["A"][3] #retrieves index 3 from first element of the dictionary

'how'

In [40]:
Dictionary4 = Dictionary3['D']

In [41]:
Dictionary4

{23: 'twothree', 'B': 43, 'newkey': 'newValue'}

In [42]:
for studentId in Dictionary4:
    print(studentId, Dictionary4[studentId])

23 twothree
B 43
newkey newValue

In [43]:
#List can also contain dictionary as an element as well
List4 = [List1, Tuple1, Dictionary1, "context"]
type(List4[2])

dict

In [44]:
List4

[[6.8, 6, 'are', 'how', 'name', 9, 'four point three', 3, 1],
 (1, 3, 4, 9, 'name', 3),
 {23: 'twothree', 'B': 43, 'newkey': 'newValue'},
 'context']

In [45]:
List5 = [x**2 for x in range(10)]
List5

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
Set2 = {x**2 for x in range(10)}

In [47]:
Set2

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [6]:
def getDataFromUser():
    studentDictionary = {}
    while True:
        studentId = input("Enter StudentId: ")
        marksList = input("Enter the marks by comma separated values: ")
        addStudents = input("Enter yes/no for adding more students: ")
        if studentId in studentDictionary:
            print(studentId, "is already inserted")
        else:
            studentDictionary[studentId] = marksList.split(",") #split will separate the input as string input at commas
        if addStudents.lower() == "no":
            return studentDictionary

In [7]:
studentData = getDataFromUser()

In [8]:
studentData

{'12': ['45', ' 36']}

In [9]:
def getAverageMarks(studentDictionary):
    averageMarks = {}
    for studentId in studentDictionary:
        marksList = studentDictionary[studentId]
        sum = 0
        for marks in marksList:
            sum+= int(marks)
        averageMarks[studentId] = round(sum/len(marksList), 2)
    return averageMarks

In [10]:
avgMarks = getAverageMarks(studentData)

In [11]:
avgMarks

{'12': 40.5}

In [12]:
for studentId in avgMarks:
    print("Student: ", studentId , "got average Marks as: ", avgMarks)

Student:  12 got average Marks as:  {'12': 40.5}